* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    
}
html {
    width: 100vw;
    height: 100vh;
    overflow-x: none;
    overflow-y: none;
}
body {
    background-color: rgb(31,60,116);
}
.welDivGrid {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: grid;
    color: rgb(225,191,116);
    img {
        width: 200px;
        height: 200px;
        }
    h1 {
        text-align: center;
    }
}


.formGrid {
    display: grid;
    color: rgb(225,191,116);
    justify-items: center;
    p {
        text-align: left;
    }
}
.inputFields {
    width: 200px;
}
.formBtns {
    display: inline-block;
    background-color: rgb(225,191,116);
    color: rgb(31,60,116);
    width: 60px;
    height: 30px;
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    grid-row: 1 / 2;
    text-align: center;
}
.btnDiv {
    display: grid;
    grid-template-columns: repeat(4, 65px);
    justify-items: center;
}
